.skills{
    padding:1rem;
    display: flex;
    justify-content: space-between;
   
}
.ski-heading{
   text-align: center;
}
.skill-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill-form{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 0 2px 2px lightgray;
    width: 50%;
}
.preview-form{
    width: 40%;
}
